# REST
PAYZEN_REST_BASE_URL=https://api.secure.osb.pf/api-payment/V4
PAYZEN_REST_USER=58739933
PAYZEN_REST_PASSWORD=testpassword_CGvpM8ArD8L2sehPOKarVCcUaFwJxG0pQQ7VLmKxM8G8n
PAYZEN_REST_VALIDATION_KEY=NzJRTZIIbxRGtKK4TlX4RHMWJffQviFyDmi4i1ldIXBES
# FORM
PAYZEN_FORM_CERTIFICATE=3938490287034316
PAYZEN_FORM_SIGNATURE_ALGORITHM=HMAC-SHA-256